@media (max-width: 768px) {
  .my-box {
    border: 0.5px solid #9f9fa0;
  }

  #contact-box {
    margin-top: 4rem;
  }

  #portfolio-box img {
    margin: 0;
    padding: 1rem;
  }

  .my-img {
    min-width: 50%;
    max-width: 50%;
  }
}
