body {
  background-image: url("./Assets/image-from-rawpixel-id-494506-jpeg.jpg");
  min-height: 100vh;
  position: relative;
  padding-bottom: 1rem !important;
  box-sizing: border-box;
}

nav {
  background-color: #f8f9fa;
  top: 0;
  left: 0;
  width: 100%;
}

.my-name {
  background-color: #4aaaa5;
  color: #ffffff !important;
  font-family: "Domine", serif;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0.25rem;
}

.my-name:hover {
  background-color: #9f9fa0;
  color: #4aaaa5 !important;
  font-style: italic;
}

button.navbar-toggler {
  color: #353535;
}

.nav-link {
  color: #9f9fa0;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  color: #353535;
}

.nav-link:active {
  color: #353535;
}

.my-box {
  font-family: "Nunito San", sans-serif;
  background-color: #ffffff;
  margin: 2rem 1rem 0rem 1rem;
}

.row h1 {
  font-family: "Domine", serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #4aaaa5;
  padding: 1rem;
  border-bottom: 1px solid #9f9fa0;
}

p {
  margin: 1rem -1rem;
  padding: 0 2rem 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.my-img {
  min-width: 20%;
  float: left;
  padding: 1rem;
}

.portfolio-box {
  margin: 4rem 0 2rem 1rem;
  padding: 2rem 1rem;
}

.portfolio-box img {
  min-width: 20%;
  max-width: 350px;
  height: auto;
  padding: 1rem;
}

.my-form {
  box-sizing: content-box;
  width: 20rem;
  padding-left: 1.5rem;
}

.form-text {
  line-height: 1rem;
  padding: 0.25rem 0;
}

.row .btn {
  margin-left: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0;
  background-color: #4aaaa5;
  border-color: #4aaaa5;
}

.btn:hover {
  color: #4aaaa5;
  background-color: #ffffff;
}

.btn:active {
  color: #4aaaa5;
  background-color: #666666;
}

footer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4rem !important;
  width: 100%;
  font-size: 0.75rem;
  background-color: #666666;
  border-top: 0.45rem solid #4aaaa5;
}

footer p {
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 0;
}

footer p:hover {
  color: #ffffff;
}

footer:hover {
  background-color: #4aaaa5;
  border-top: #666666;
  color: #ffffff;
}